#splash {
  background-image: url("../../assets/img/Michael%20Top.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  text-align: center;
  padding: 0;
  box-sizing: border-box;
}

#buttonsInlineFlex {
  box-sizing: border-box;
}


.intro {
  display: flex;
  color: white;
  margin-left: 5vw;
}

.typing{
  position: relative;
  margin-left: 10px;
}

.typing::after{
  content: "";
  position: absolute;
  right: -5px;
  width: 1px;
  height: 100%;
  border-right: 2px solid white;
  animation: blink 0,5s infinite ease;
}

@keyframes blink{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 577px) {
  .Kvalifikationer {
    font-size: 60px;
  }
}

@media (max-width: 576px) {
  .Kvalifikationer {
    font-size: 30px;
  }
}

